<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <meta name="viewport" content="width=1000">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="top-menu">
  <ul>
    <li><a href="#"><%= image_tag "logo.png", id: "logo" %></a></li>
    <li>Books</li>
    <li>Prices</li>
    <li>Delivery</li>
    <li>Contact us</li>
  </ul>
</nav>

<%= yield %>

<section id="page">
  <article id="page-content">
    <h1>Atlas Shrugged - Ayn Rand</h1>

    <%= image_tag "atlas-shrugged-book-cover.jpg", class: "book_cover" %>

    <h3>Description:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aperiam architecto assumenda consequatur
      consequuntur cumque facilis illum incidunt iste laborum maiores minima obcaecati quas repellat sint temporibus
      veritatis voluptate. Molestias!</p>

    <div class="purchase">
      <ul>
        <li><strong>Available to ship:</strong></li>
        <li><span class="price">$39.99</span></li>
        <li>Free shipping</li>
        <li><a href="#" class="btn btn-success add-to-cart">Add to Cart</a></li>
      </ul>
    </div>


    <div class="clearfix"></div>

  </article>
</section>

<footer id="footer">
  <div class="footer-rights-label">
    <p>Copyright © 2015 Bookstore Inc. All rights reserved.</p>
  </div>
</footer>

</body>
</html>
